{# templates/home/about.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    <h1>About Us</h1>
    <img src="{{ asset('images/cute_carrot.webp')}}" alt="" width="500" height="500">
{% endblock %}
